[Desktop Entry]
Type=Application
Name=快传
Comment=快传 - 手机电脑互传文件
Exec=quick_transfer
Icon=phone
Terminal=false
Categories=Network;Utility;
StartupNotify=true
X-GNOME-Autostart-enabled=true
